[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
streamlit-aggrid = "*"
plotly = "*"
ta = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
